<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <% if(message!='No'){ %>
  <div class="modal fade bd-example-modal-sm" id="notify" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <%= message %>
      </div>
    </div>
  </div>
  <% } %>
  <div id='navbar' style="position: sticky;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="logo.png" alt="" style="height: 2rem;"> </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/home">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>
  <ul>
    <div class="container" data-parent="#navbar" style="position: relative;top: 2rem;">
      <% data.forEach(function(dat) { %>
      <div class='card'>
        <div class="card-header">
          <%= dat.quizName %>
        </div>
        <div class='card-body'>
          <h6 class='card-text'> Author <%= dat.author%><br>
            Total Questions <%= dat.totalQuestion%> </h6>
          <hr>
          <div class='card-link'>
            <a class="btn btn-primary" href="showQuiz?quiz=<%= dat._id %> ">Attempt</a>
          </div>
          <hr>
          <form class="form-inline" action='/comment?quizId=<%=dat._id%>' method="post">
            <input type='text' name='content' placeholder="comment">
            <input type='submit' class="btn btn-success btn-sm" value="comment">
          </form>
          <hr>
          <div class='card'>
            <% dat.comment.forEach((comments)=>{ %>

            <p>user: <%= comments.author%></p>
            <p>text: <%= comments.text %></p>
            <% comments.replies.forEach((reply)=>{%>
            <div style='position: relative;left: 2rem;'>
              <p>user: <%= reply.author%></p>
              <p>text: <%= reply.text %></p>
            </div>
            <%})%>
            <form class="form-inline" action='/reply?commentId=<%=comments._id%>' method="post">
              <div style='position: relative;left: 2rem;'>
                <input type='text' name='content' placeholder="comment">
                <input type='submit' class="btn btn-success btn-sm" value="reply">
              </div>
            </form>
            <hr>

            <% }) %>
          </div>

        </div>
      </div>
      <% }); %>
  </ul>
  </div>
  <script>
    $('#notify').modal('show');
  </script>
</body>

</html>