<!DOCTYPE html>
<html>
    <head>

    </head>
    <body onload="setTimeout(decrement(30),60)">
        <fieldset>
                <div id="time"></div>
                <form id="myform" action="/verify" method="POST">
                <ol>
                    <% data.forEach(function(dat,index){ %>
                    
                        <li><%= dat.question %></li>
                        <p> Here is your question</p>
                        <input type="radio" value="a" id="Q1" name=<% 'Q'+index %>> a <%= dat.option1 %>
                        <br>
                        <input type="radio" value="b" id="Q1" name=<% 'Q'+index %>> b  <%= dat.option2 %>
                        <br>
                        <input type="radio" value="c" id="Q1" name=<% 'Q'+index %>> c  <%= dat.option3 %>
                        <br>
                        <input type="radio" value="d" id="Q1" name=<% 'Q'+index %>> d  <%= dat.option4 %>

                    <% }) %>
                </ol>
                    <input type="submit" value="end">
                </form>
                <script src="Timer.js"></script>
                
        </fieldset>
    </body>
</html>