<!DOCTYPE html>
<html>
    <head>

    </head>
    <body onload="setTimeout(decrement(30),60)">
        <fieldset>
                <div id="time"></div>
                <form id="myform" action="/verify" method="POST">
                    <p><%= quizName %></p>
                    <input type='hidden' name='quizName' value='<%= quizName %>'>
                <ol>
                    <% data.forEach(function(dat,index){ %>
                    
                        <li><%= dat.question %></li>
                        <p> Here is your question</p>
                        
                        <input type="radio" value="1" id="Q1" name="<%= 'Q'+index %>">  <%= dat.option1 %>
                        <br>
                        <input type="radio" value="2" id="Q1" name="<%= 'Q'+index %>">   <%= dat.option2 %>
                        <br>
                        <input type="radio" value="3" id="Q1" name="<%= 'Q'+index %>">   <%= dat.option3 %>
                        <br>
                        <input type="radio" value="4" id="Q1" name="<%= 'Q'+index %>">   <%= dat.option4 %>

                    <% }) %>
                </ol>
                    <input type="submit" value="end">
                </form>
                <script src="Timer.js"></script>
                
        </fieldset>
    </body>
</html>